<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f5e64b781b11b25f7066728c46ec9c89 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f5e64b781b11b25f7066728c46ec9c89" ></div>
        
</body>
<script>
    
    
            var map_f5e64b781b11b25f7066728c46ec9c89 = L.map(
                "map_f5e64b781b11b25f7066728c46ec9c89",
                {
                    center: [51.5074, -0.1278],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ca06d94f497a1ee5da94daa1d0090a27 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_ca06d94f497a1ee5da94daa1d0090a27.addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var marker_07243c30691217549b3149f7c185fe2e = L.marker(
                [50.7449719762088, -3.5375976562500004],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_c90f7ab53ad7a8fccfe610d21e5a7fbe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_07243c30691217549b3149f7c185fe2e.setIcon(icon_c90f7ab53ad7a8fccfe610d21e5a7fbe);
        
    
        var popup_5ed581526a5c7f9c102a6249451b26ea = L.popup({"maxWidth": "100%"});

        
            
                var html_5596143cff8083ceb6ce548caa874582 = $(`<div id="html_5596143cff8083ceb6ce548caa874582" style="width: 100.0%; height: 100.0%;">Name: Jassim <br>Number: 23947926</div>`)[0];
                popup_5ed581526a5c7f9c102a6249451b26ea.setContent(html_5596143cff8083ceb6ce548caa874582);
            
        

        marker_07243c30691217549b3149f7c185fe2e.bindPopup(popup_5ed581526a5c7f9c102a6249451b26ea)
        ;

        
    
    
            var marker_25b528b2831b0dd183cf56b8885f24a3 = L.marker(
                [51.50756719022885, -0.10299682617187501],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_3671dc2aa8336748aaa2ae7613397ee6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_25b528b2831b0dd183cf56b8885f24a3.setIcon(icon_3671dc2aa8336748aaa2ae7613397ee6);
        
    
        var popup_b4f48d0b7afa4b6b9f3c4e374cd9ec55 = L.popup({"maxWidth": "100%"});

        
            
                var html_f1412207ba8060e0967c63e762335d68 = $(`<div id="html_f1412207ba8060e0967c63e762335d68" style="width: 100.0%; height: 100.0%;">Name: Tarek Amar<br>Number: 55508669</div>`)[0];
                popup_b4f48d0b7afa4b6b9f3c4e374cd9ec55.setContent(html_f1412207ba8060e0967c63e762335d68);
            
        

        marker_25b528b2831b0dd183cf56b8885f24a3.bindPopup(popup_b4f48d0b7afa4b6b9f3c4e374cd9ec55)
        ;

        
    
    
            var marker_ecfc9a64618e81f59149873c2fa6dc31 = L.marker(
                [50.7449719762088, -3.5375976562500004],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_2acfa949012f7e31d4465373c22b25e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ecfc9a64618e81f59149873c2fa6dc31.setIcon(icon_2acfa949012f7e31d4465373c22b25e3);
        
    
        var popup_a00b2b41f0547b0d13af2e8eb85e8e28 = L.popup({"maxWidth": "100%"});

        
            
                var html_efa97d7cf5db6a5346891628b016d72c = $(`<div id="html_efa97d7cf5db6a5346891628b016d72c" style="width: 100.0%; height: 100.0%;">Name: Jassim <br>Number: 23947926</div>`)[0];
                popup_a00b2b41f0547b0d13af2e8eb85e8e28.setContent(html_efa97d7cf5db6a5346891628b016d72c);
            
        

        marker_ecfc9a64618e81f59149873c2fa6dc31.bindPopup(popup_a00b2b41f0547b0d13af2e8eb85e8e28)
        ;

        
    
    
            var marker_cfe07776495817ebb4bce2013a96bb52 = L.marker(
                [51.50756719022885, -0.10299682617187501],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_0cfc9ed71ad9809e7a0e588a614f9cea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cfe07776495817ebb4bce2013a96bb52.setIcon(icon_0cfc9ed71ad9809e7a0e588a614f9cea);
        
    
        var popup_27e6e3fd1c9f4fbe5e4016ca09d31dae = L.popup({"maxWidth": "100%"});

        
            
                var html_567dbacf2d230ed7d1f7c85a565bdad8 = $(`<div id="html_567dbacf2d230ed7d1f7c85a565bdad8" style="width: 100.0%; height: 100.0%;">Name: Tarek Amar<br>Number: 55508669</div>`)[0];
                popup_27e6e3fd1c9f4fbe5e4016ca09d31dae.setContent(html_567dbacf2d230ed7d1f7c85a565bdad8);
            
        

        marker_cfe07776495817ebb4bce2013a96bb52.bindPopup(popup_27e6e3fd1c9f4fbe5e4016ca09d31dae)
        ;

        
    
    
            var marker_99457806d33b4e1aca59eafed4c1ecbf = L.marker(
                [51.50026114770739, -0.049610137939453125],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_8b8ec0533da9cd3bdedc26e0a829c384 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_99457806d33b4e1aca59eafed4c1ecbf.setIcon(icon_8b8ec0533da9cd3bdedc26e0a829c384);
        
    
        var popup_35f97420c4fe7a55fe3c9facf628d770 = L.popup({"maxWidth": "100%"});

        
            
                var html_b877164561e908109201c6030e0ca222 = $(`<div id="html_b877164561e908109201c6030e0ca222" style="width: 100.0%; height: 100.0%;">Name: j<br>Number: 234</div>`)[0];
                popup_35f97420c4fe7a55fe3c9facf628d770.setContent(html_b877164561e908109201c6030e0ca222);
            
        

        marker_99457806d33b4e1aca59eafed4c1ecbf.bindPopup(popup_35f97420c4fe7a55fe3c9facf628d770)
        ;

        
    
    
            var marker_64d0ebf179ced0954edafa3b86877747 = L.marker(
                [50.7449719762088, -3.5375976562500004],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_0d7abda391a34881415dfc4e567e355d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_64d0ebf179ced0954edafa3b86877747.setIcon(icon_0d7abda391a34881415dfc4e567e355d);
        
    
        var popup_239653a3593e0df7b6689b35478eb2a2 = L.popup({"maxWidth": "100%"});

        
            
                var html_5a4ca012c59ce7373ce4c1f7778af028 = $(`<div id="html_5a4ca012c59ce7373ce4c1f7778af028" style="width: 100.0%; height: 100.0%;">Name: Jassim <br>Number: 23947926</div>`)[0];
                popup_239653a3593e0df7b6689b35478eb2a2.setContent(html_5a4ca012c59ce7373ce4c1f7778af028);
            
        

        marker_64d0ebf179ced0954edafa3b86877747.bindPopup(popup_239653a3593e0df7b6689b35478eb2a2)
        ;

        
    
    
            var marker_2d7a46fd064f977cf804a02e51af4d15 = L.marker(
                [51.50756719022885, -0.10299682617187501],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_3d4f51afd5e9a83fdf96fec28585b680 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2d7a46fd064f977cf804a02e51af4d15.setIcon(icon_3d4f51afd5e9a83fdf96fec28585b680);
        
    
        var popup_9eec6cc848acc6bef112a3ae98880de3 = L.popup({"maxWidth": "100%"});

        
            
                var html_b4e686a62f6ce104ff205c546ef3dd38 = $(`<div id="html_b4e686a62f6ce104ff205c546ef3dd38" style="width: 100.0%; height: 100.0%;">Name: Tarek Amar<br>Number: 55508669</div>`)[0];
                popup_9eec6cc848acc6bef112a3ae98880de3.setContent(html_b4e686a62f6ce104ff205c546ef3dd38);
            
        

        marker_2d7a46fd064f977cf804a02e51af4d15.bindPopup(popup_9eec6cc848acc6bef112a3ae98880de3)
        ;

        
    
    
            var marker_5929e1e6190cf4f2b4d9480bea4b8af5 = L.marker(
                [51.50026114770739, -0.049610137939453125],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_1d0226456cd4b284f613f03338b4e736 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5929e1e6190cf4f2b4d9480bea4b8af5.setIcon(icon_1d0226456cd4b284f613f03338b4e736);
        
    
        var popup_dd0646e7e525f9580f5909f0a5fb8bf9 = L.popup({"maxWidth": "100%"});

        
            
                var html_a0d19421a13d2db072aa3498f946f9d8 = $(`<div id="html_a0d19421a13d2db072aa3498f946f9d8" style="width: 100.0%; height: 100.0%;">Name: j<br>Number: 234</div>`)[0];
                popup_dd0646e7e525f9580f5909f0a5fb8bf9.setContent(html_a0d19421a13d2db072aa3498f946f9d8);
            
        

        marker_5929e1e6190cf4f2b4d9480bea4b8af5.bindPopup(popup_dd0646e7e525f9580f5909f0a5fb8bf9)
        ;

        
    
    
            var marker_3eb077f9a29c3abebfa8e7ee30b84425 = L.marker(
                [47.220314106056115, 2.1708995103836064],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_f518390b754cf1eb3fc379420bcff220 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3eb077f9a29c3abebfa8e7ee30b84425.setIcon(icon_f518390b754cf1eb3fc379420bcff220);
        
    
        var popup_049b4edffce62d945aec02472e92effa = L.popup({"maxWidth": "100%"});

        
            
                var html_62e9755d722cfc2fd9c6f0c2ef41e365 = $(`<div id="html_62e9755d722cfc2fd9c6f0c2ef41e365" style="width: 100.0%; height: 100.0%;">Name: j20d<br>Number: 5783882</div>`)[0];
                popup_049b4edffce62d945aec02472e92effa.setContent(html_62e9755d722cfc2fd9c6f0c2ef41e365);
            
        

        marker_3eb077f9a29c3abebfa8e7ee30b84425.bindPopup(popup_049b4edffce62d945aec02472e92effa)
        ;

        
    
    
            var marker_5eb99bbdcd717d0caab774eedfbcc905 = L.marker(
                [50.7449719762088, -3.5375976562500004],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_227a07154781011c5e6ca10b88604e91 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5eb99bbdcd717d0caab774eedfbcc905.setIcon(icon_227a07154781011c5e6ca10b88604e91);
        
    
        var popup_f950b9661738d3605ca6a6192d9cac85 = L.popup({"maxWidth": "100%"});

        
            
                var html_91ec349e16da34a692ef18600a51ce06 = $(`<div id="html_91ec349e16da34a692ef18600a51ce06" style="width: 100.0%; height: 100.0%;">Name: Jassim <br>Number: 23947926</div>`)[0];
                popup_f950b9661738d3605ca6a6192d9cac85.setContent(html_91ec349e16da34a692ef18600a51ce06);
            
        

        marker_5eb99bbdcd717d0caab774eedfbcc905.bindPopup(popup_f950b9661738d3605ca6a6192d9cac85)
        ;

        
    
    
            var marker_a2e67e98215d76ec4b2ca04f5492f42b = L.marker(
                [51.50756719022885, -0.10299682617187501],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_57be9c71e4f9bdc9932660f58e1cf0ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a2e67e98215d76ec4b2ca04f5492f42b.setIcon(icon_57be9c71e4f9bdc9932660f58e1cf0ce);
        
    
        var popup_436b08f11da66e4f0eb73e0d905b2a30 = L.popup({"maxWidth": "100%"});

        
            
                var html_96a11b4aca2549600ad343bbf5f55d31 = $(`<div id="html_96a11b4aca2549600ad343bbf5f55d31" style="width: 100.0%; height: 100.0%;">Name: Tarek Amar<br>Number: 55508669</div>`)[0];
                popup_436b08f11da66e4f0eb73e0d905b2a30.setContent(html_96a11b4aca2549600ad343bbf5f55d31);
            
        

        marker_a2e67e98215d76ec4b2ca04f5492f42b.bindPopup(popup_436b08f11da66e4f0eb73e0d905b2a30)
        ;

        
    
    
            var marker_9ab5d6ae5b973ab7033c05a1125ea6df = L.marker(
                [51.50026114770739, -0.049610137939453125],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_4070166b06d6c1dbd6dfd23ecdcbd287 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9ab5d6ae5b973ab7033c05a1125ea6df.setIcon(icon_4070166b06d6c1dbd6dfd23ecdcbd287);
        
    
        var popup_ffae4b84f6afae3a5040be27af7f1712 = L.popup({"maxWidth": "100%"});

        
            
                var html_090dd788115ccf8f2a3451e27fc75ac5 = $(`<div id="html_090dd788115ccf8f2a3451e27fc75ac5" style="width: 100.0%; height: 100.0%;">Name: j<br>Number: 234</div>`)[0];
                popup_ffae4b84f6afae3a5040be27af7f1712.setContent(html_090dd788115ccf8f2a3451e27fc75ac5);
            
        

        marker_9ab5d6ae5b973ab7033c05a1125ea6df.bindPopup(popup_ffae4b84f6afae3a5040be27af7f1712)
        ;

        
    
    
            var marker_863fa561b0ae8b47f93900a7a3860bb4 = L.marker(
                [47.220314106056115, 2.1708995103836064],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_02097f442eb0e6b8e5f83a021741a36a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_863fa561b0ae8b47f93900a7a3860bb4.setIcon(icon_02097f442eb0e6b8e5f83a021741a36a);
        
    
        var popup_1188e5e79f647730475669f721f2a704 = L.popup({"maxWidth": "100%"});

        
            
                var html_51df7af9707e507c35dec5a3263b807f = $(`<div id="html_51df7af9707e507c35dec5a3263b807f" style="width: 100.0%; height: 100.0%;">Name: j20d<br>Number: 5783882</div>`)[0];
                popup_1188e5e79f647730475669f721f2a704.setContent(html_51df7af9707e507c35dec5a3263b807f);
            
        

        marker_863fa561b0ae8b47f93900a7a3860bb4.bindPopup(popup_1188e5e79f647730475669f721f2a704)
        ;

        
    
    
            var marker_2b7f6860f48f273ccc3708c89de61932 = L.marker(
                [51.493934529773554, -0.022315979003906253],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_03b0c569bf4a297b3780bbdf35f76130 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2b7f6860f48f273ccc3708c89de61932.setIcon(icon_03b0c569bf4a297b3780bbdf35f76130);
        
    
        var popup_36df1b0b6a14de491d8146831985fa54 = L.popup({"maxWidth": "100%"});

        
            
                var html_bc5793752621a5e2e34cd1c7fcc0989a = $(`<div id="html_bc5793752621a5e2e34cd1c7fcc0989a" style="width: 100.0%; height: 100.0%;">Name: wbd2<br>Number: 502792</div>`)[0];
                popup_36df1b0b6a14de491d8146831985fa54.setContent(html_bc5793752621a5e2e34cd1c7fcc0989a);
            
        

        marker_2b7f6860f48f273ccc3708c89de61932.bindPopup(popup_36df1b0b6a14de491d8146831985fa54)
        ;

        
    
    
            var marker_e09aa63c73f6d50101c96f89e3a53913 = L.marker(
                [50.70341617382632, -3.7441404908895497],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_95fa34ea08bf123dc51522804101a06d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e09aa63c73f6d50101c96f89e3a53913.setIcon(icon_95fa34ea08bf123dc51522804101a06d);
        
    
        var popup_49618599cabb05befdb0829be45a25af = L.popup({"maxWidth": 300});

        
            
                var html_13e3473c38b1824d6fc7b224073757c3 = $(`<div id="html_13e3473c38b1824d6fc7b224073757c3" style="width: 100.0%; height: 100.0%;">Name: Faris Bata<br>Number: 26816849<br>Resources: Fuel<br>Skills: Cooking</div>`)[0];
                popup_49618599cabb05befdb0829be45a25af.setContent(html_13e3473c38b1824d6fc7b224073757c3);
            
        

        marker_e09aa63c73f6d50101c96f89e3a53913.bindPopup(popup_49618599cabb05befdb0829be45a25af)
        ;

        
    
    
            var marker_f499d45141094364b9bd641defde4997 = L.marker(
                [51.49968409472661, -0.11902999773155899],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_c34e5701ebe355a47bb2d2e191de73f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f499d45141094364b9bd641defde4997.setIcon(icon_c34e5701ebe355a47bb2d2e191de73f5);
        
    
        var popup_6e022c62d07b460d8e7fd128a2da8da6 = L.popup({"maxWidth": 300});

        
            
                var html_5f40125248031c11b021fc3001f09fd7 = $(`<div id="html_5f40125248031c11b021fc3001f09fd7" style="width: 100.0%; height: 100.0%;">Name: Faris<br>Number: 33220099<br>Resources: Water<br>Skills: Cooking</div>`)[0];
                popup_6e022c62d07b460d8e7fd128a2da8da6.setContent(html_5f40125248031c11b021fc3001f09fd7);
            
        

        marker_f499d45141094364b9bd641defde4997.bindPopup(popup_6e022c62d07b460d8e7fd128a2da8da6)
        ;

        
    
    
            var marker_457fa6fd9ac6c28886f5181777a5ed84 = L.marker(
                [50.70341617382632, -3.7441404908895497],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_ca19e7bcdb01089ce7d60dd5eecf3656 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_457fa6fd9ac6c28886f5181777a5ed84.setIcon(icon_ca19e7bcdb01089ce7d60dd5eecf3656);
        
    
        var popup_1beadc9fef21d33b400262e531ebbcd8 = L.popup({"maxWidth": 300});

        
            
                var html_860d544fbca6486aa0a2bfcc0a2e5063 = $(`<div id="html_860d544fbca6486aa0a2bfcc0a2e5063" style="width: 100.0%; height: 100.0%;">Name: Faris Bata<br>Number: 26816849<br>Resources: Fuel<br>Skills: Cooking</div>`)[0];
                popup_1beadc9fef21d33b400262e531ebbcd8.setContent(html_860d544fbca6486aa0a2bfcc0a2e5063);
            
        

        marker_457fa6fd9ac6c28886f5181777a5ed84.bindPopup(popup_1beadc9fef21d33b400262e531ebbcd8)
        ;

        
    
    
            var marker_c8b1156f7d8b3a55b22d761c81a12ad7 = L.marker(
                [51.49968409472661, -0.11902999773155899],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_d3b4e9764039d9a07d784e364164615d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c8b1156f7d8b3a55b22d761c81a12ad7.setIcon(icon_d3b4e9764039d9a07d784e364164615d);
        
    
        var popup_6058532efad676143841471651ba1462 = L.popup({"maxWidth": 300});

        
            
                var html_0b33d9194389b4fa14a48f2f0a248fa0 = $(`<div id="html_0b33d9194389b4fa14a48f2f0a248fa0" style="width: 100.0%; height: 100.0%;">Name: Faris<br>Number: 33220099<br>Resources: Water<br>Skills: Cooking</div>`)[0];
                popup_6058532efad676143841471651ba1462.setContent(html_0b33d9194389b4fa14a48f2f0a248fa0);
            
        

        marker_c8b1156f7d8b3a55b22d761c81a12ad7.bindPopup(popup_6058532efad676143841471651ba1462)
        ;

        
    
    
            var marker_af84f72a3eaa817a318aefbe099e03f3 = L.marker(
                [51.54054867041391, 0.2342834556475282],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_e09e1df80e117284cdd4ba52856ad1ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_af84f72a3eaa817a318aefbe099e03f3.setIcon(icon_e09e1df80e117284cdd4ba52856ad1ef);
        
    
        var popup_11dc22c2e405a0a4c8f53f90b61ad65a = L.popup({"maxWidth": 300});

        
            
                var html_f0a086db3819569581854b9927268b99 = $(`<div id="html_f0a086db3819569581854b9927268b99" style="width: 100.0%; height: 100.0%;">Name: uedj<br>Number: 503792<br>Resources: Raw-Material<br>Skills: Construction/repair</div>`)[0];
                popup_11dc22c2e405a0a4c8f53f90b61ad65a.setContent(html_f0a086db3819569581854b9927268b99);
            
        

        marker_af84f72a3eaa817a318aefbe099e03f3.bindPopup(popup_11dc22c2e405a0a4c8f53f90b61ad65a)
        ;

        
    
    
            var marker_5a08acf9c294f1bc6518b02ed73f906f = L.marker(
                [50.70341617382632, -3.7441404908895497],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_2dd8e23f6f65c4ccd32698b10460d661 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5a08acf9c294f1bc6518b02ed73f906f.setIcon(icon_2dd8e23f6f65c4ccd32698b10460d661);
        
    
        var popup_68d8f5234b5d1b56fc77570de6984af9 = L.popup({"maxWidth": 300});

        
            
                var html_337e976a40c779ad5bec8e53ff4233e8 = $(`<div id="html_337e976a40c779ad5bec8e53ff4233e8" style="width: 100.0%; height: 100.0%;">Name: Faris Bata<br>Number: 26816849<br>Resources: Fuel<br>Skills: Cooking</div>`)[0];
                popup_68d8f5234b5d1b56fc77570de6984af9.setContent(html_337e976a40c779ad5bec8e53ff4233e8);
            
        

        marker_5a08acf9c294f1bc6518b02ed73f906f.bindPopup(popup_68d8f5234b5d1b56fc77570de6984af9)
        ;

        
    
    
            var marker_dc1ece71c653868b35ec812bb0e3a157 = L.marker(
                [51.49968409472661, -0.11902999773155899],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_788c67b97504cf543aa3a1cd6809df5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_dc1ece71c653868b35ec812bb0e3a157.setIcon(icon_788c67b97504cf543aa3a1cd6809df5e);
        
    
        var popup_7d39256c65b511984fd978e2d67a69a2 = L.popup({"maxWidth": 300});

        
            
                var html_d7c6788b3d42e52fe8eecf256fe0185b = $(`<div id="html_d7c6788b3d42e52fe8eecf256fe0185b" style="width: 100.0%; height: 100.0%;">Name: Faris<br>Number: 33220099<br>Resources: Water<br>Skills: Cooking</div>`)[0];
                popup_7d39256c65b511984fd978e2d67a69a2.setContent(html_d7c6788b3d42e52fe8eecf256fe0185b);
            
        

        marker_dc1ece71c653868b35ec812bb0e3a157.bindPopup(popup_7d39256c65b511984fd978e2d67a69a2)
        ;

        
    
    
            var marker_b19bdd75059883400e7ca25cbe530106 = L.marker(
                [51.54054867041391, 0.2342834556475282],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_68a323ec0049ea9b5d0ea3915d07fc8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b19bdd75059883400e7ca25cbe530106.setIcon(icon_68a323ec0049ea9b5d0ea3915d07fc8a);
        
    
        var popup_fc6baec0465f49da0867443da0692386 = L.popup({"maxWidth": 300});

        
            
                var html_f4d5e38eda4b0e8b36884e855cdee0f0 = $(`<div id="html_f4d5e38eda4b0e8b36884e855cdee0f0" style="width: 100.0%; height: 100.0%;">Name: uedj<br>Number: 503792<br>Resources: Raw-Material<br>Skills: Construction/repair</div>`)[0];
                popup_fc6baec0465f49da0867443da0692386.setContent(html_f4d5e38eda4b0e8b36884e855cdee0f0);
            
        

        marker_b19bdd75059883400e7ca25cbe530106.bindPopup(popup_fc6baec0465f49da0867443da0692386)
        ;

        
    
    
            var marker_62312060f28e01ff988c88f989592a3e = L.marker(
                [46.34389476587769, 3.0937510728836064],
                {}
            ).addTo(map_f5e64b781b11b25f7066728c46ec9c89);
        
    
            var icon_b23e5fdf7741f57c6aecf78397b72a83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_62312060f28e01ff988c88f989592a3e.setIcon(icon_b23e5fdf7741f57c6aecf78397b72a83);
        
    
        var popup_833efa630da43e138f6ee94a4d9da214 = L.popup({"maxWidth": 300});

        
            
                var html_e8cb67e55f6a999465aeb2f8ee2feba7 = $(`<div id="html_e8cb67e55f6a999465aeb2f8ee2feba7" style="width: 100.0%; height: 100.0%;">Name: jass<br>Number: 2947297<br>Resources: Raw-Material<br>Skills: Cooking</div>`)[0];
                popup_833efa630da43e138f6ee94a4d9da214.setContent(html_e8cb67e55f6a999465aeb2f8ee2feba7);
            
        

        marker_62312060f28e01ff988c88f989592a3e.bindPopup(popup_833efa630da43e138f6ee94a4d9da214)
        ;

        
    
</script>
</html>